<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_MetaTags"/>
    <title>Admin | @ViewData["Title"]</title>
    <partial name="_HeaderReferences"/>
</head>
<body>
<partial name="_HeaderNav"/>
<div class="d-flex">
    @await Component.InvokeAsync("LeftSide");
    @RenderBody(); 
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - ResumeApp.Web - >Privacy<
    </div>
</footer>
<partial name="_FooterReferences"/>

</body>
</html>